In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso, LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler

In [16]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DS-nanodegree/Project 1/data/clean_data/data_cleaned.csv', index_col=0)

In [17]:
df.head()

      id  host_id  host_since  ...  within a day  within a few hours  within an hour
0  11551    43039      4517.0  ...             0                   0               1
1  13913    54730      4473.0  ...             0                   0               1
2  15400    60302      4454.0  ...             0                   1               0
3  17402    67564      4424.0  ...             0                   0               1
4  24328    41759      4522.0  ...             1                   0               0

[5 rows x 336 columns]

## Feature Selection

In [18]:
df = pd.DataFrame.drop(df, columns=['id', 'host_id'])

In [19]:
df['price'].describe()

count    84734.000000
mean         4.419075
std          1.173961
min        -55.000000
25%          3.806662
50%          4.418841
75%          4.941642
max          9.903488
Name: price, dtype: float64

In [5]:
df = df.replace([np.inf, -np.inf], np.nan).dropna()

In [20]:
numerics = ['int16','int32','int64','float16','float32','float64']
numerical_vars = list(df.select_dtypes(include=numerics).columns)
df = df[numerical_vars]
df.shape

(84734, 333)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(df, df['price'], test_size=0.3, random_state=0)
X_train.shape, X_test.shape

((59313, 333), (25421, 333))

In [22]:
df.head()

   host_since  host_response_rate  ...  within a few hours  within an hour
0      4517.0                 100  ...                   0               1
1      4473.0                 100  ...                   0               1
2      4454.0                 100  ...                   1               0
3      4424.0                  98  ...                   0               1
4      4522.0                  80  ...                   0               0

[5 rows x 333 columns]

In [23]:
scaler = StandardScaler()
scaler.fit(X_train.fillna(0))

StandardScaler()

In [24]:
sel_ = Lasso(alpha=0.0000001, max_iter=1e3)
sel_.fit(X_train, y_train)
print('training set:', sel_.score(X_train, y_train))
print('validation set:', sel_.score(X_test, y_test))
# y_pred_train = sel_.predict(X_train)
# y_pred_val = sel_.predict(X_test)

print('total number of parameters:', sum(sel_.coef_!=0))

training set: 0.9999999291291853
validation set: 0.9999999334284823
total number of parameters: 169

In [25]:
coefs = np.array(sel_.coef_!=0)
np.save('/content/drive/MyDrive/Colab Notebooks/DS-nanodegree/Project 1/data/clean_data/selected_coefs.npy', coefs)

## Export data with selected columns

In [26]:
def feature_selected(df, coeffs):
    df = pd.DataFrame.drop(df, columns=['id', 'host_id'])
    
    numerics = ['int16','int32','int64','float16','float32','float64']
    numerical_vars = list(df.select_dtypes(include=numerics).columns)
    df = df[numerical_vars]

    col_set = []

    for i in range(len(coeffs)):
        if (coeffs[i]):
            col_set.append(df.columns[i])

    df = df[list(col_set)]

    return df

In [27]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DS-nanodegree/Project 1/data/clean_data/data_cleaned.csv', index_col=0)
coeffs = np.load('/content/drive/MyDrive/Colab Notebooks/DS-nanodegree/Project 1/data/clean_data/selected_coefs.npy')

In [28]:
df_selected = feature_selected(df, coeffs)
df_selected.to_csv('/content/drive/MyDrive/Colab Notebooks/DS-nanodegree/Project 1/data/clean_data/data_selected.csv')

In [29]:
df_selected.shape

(84734, 169)